<form>

  <mat-form-field>
    <mat-label>
      Quiz subject
    </mat-label>
  <input id="quiz_subject" name="quiz-name" placeholder="Insert quiz name" matInput [(ngModel)]="quiz.subject">
  </mat-form-field>


  <mat-form-field>
    <mat-label>
      Quiz name
    </mat-label>
    <input id="quiz_title" name="quiz-title" placeholder="Insert quiz title" matInput [(ngModel)]="quiz.title">
  </mat-form-field>


  <mat-form-field>
    <mat-label>
      Quiz questions
    </mat-label>
    <input id="quiz_questions" name="quiz-questions" placeholder="Insert quiz questions" matInput [(ngModel)]="quiz.questions">
  </mat-form-field>

  <button mat-raised-button name="save-quiz" (click)="save()">Save quiz</button>

</form>
